.Intro{
    text-align:center;
    padding:10vh 0 0 0;
    background-color: lightslategray;
    background-image:url("../../../public/images/bg-firework.jpeg");
    background-position: center;
    background-size: cover;
    max-width:100%;
    
}

.Intro img{
    max-height:35vh;
    max-width:35vw;
    border:solid white 2px;
    padding:10px;
    border-radius: 10000px;
}
.imgBox::after{
    content:"";
    display:block;
    height:50px;
    background-color:white;
    margin:0px auto 0px auto;
    width:2px;
}
.postImgBox::before, .postImgBox::after{
    content:"";
    display:block;
    height:2px;
    background-color:white;
    margin:0px auto 20px auto;
    width:80%;
}

.postImgBox{
    color:white;
}
.postImgBox h1{
    text-transform:uppercase;
}

.Intro::after{
    content:"";
    display:block;
    height:50px;
    background-color:black;
    margin:0px auto 0px auto;
    width:100vw;
}

.innerPIB{
    background-color: rgba(64,38,103,0.6);
    border-radius:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}