.Footer{
    max-width:100%;
    background-color:purple;
    color:white;
    object-fit:contain;
    text-align: center;
    padding:5px;
}

.Footer a{
    color: white;
}

.Footer a:hover{
    color: orange;
    text-decoration-style: dotted;
}