body {
  margin: 0;
  font-family: Finlandica;
  -moz-osx-font-smoothing: grayscale;
  background-color: slateblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
